<h1>Enter User ID</h1>
<%= form_with url: '/', method: :get do |form| %>
  <%= form.label :user_id, 'User ID: ' %>
  <%= form.text_field :user_id ,:required => true %>
  <%= form.submit :submit %>
<% end %> 
<% if @flickr_response %>
  <% @flickr_response.each do |item| %>
  <% server_id = item['server']%>
  <% id = item['id']%>
  <% secret = item['secret']%>
  <% size_suffix = 'w'%>
  <% "https://live.staticflickr.com/#{server_id}/#{id}_#{secret}_#{size_suffix}.jpg"%>
  <img src=<%= "https://live.staticflickr.com/#{server_id}/#{id}_#{secret}_#{size_suffix}.jpg"%> alt="" >
  <% end %>
<% end %>